numpy # numerical python
pandas # data manipulation
scikit-learn # models & data preprocessing
imbalanced-learn # SMOTE & resampling techniques
openai # EDA Process 
groq # EDA Process
seaborn # Visualizations
dotenv
matplotlib
ipykernel